In [38]:
import pandas as pd

from square.func import square, cube

ImportError: cannot import name 'cube' from 'square.func' (/home/nzboan/projetos/data-analysis-dsa/cap04-ex/square/func.py)

In [37]:
square(20)

400

In [83]:
df = pd.read_csv('Consumo_cerveja.csv',decimal=',')
df.dropna(axis=0,how='all',inplace=True)

In [84]:
df.head()

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,2015-01-01,27.30,23.9,32.5,0.0,0.0,25.461
1,2015-01-02,27.02,24.5,33.5,0.0,0.0,28.972
2,2015-01-03,24.82,22.4,29.9,0.0,1.0,30.814
3,2015-01-04,23.98,21.5,28.6,1.2,1.0,29.799
4,2015-01-05,23.82,21.0,28.3,0.0,0.0,28.900

## To-Do

1. List comprehension
2. datetime
3. map
4. reduce
5. filter
6. enumerate
7. zip

In [85]:
## compreensÃ£o de lista (list comprehension) 

df.columns = [x.lower().replace(' ','_').replace('_(c)','') for x in df.columns]
df.head(1)

,data,temperatura_media,temperatura_minima,temperatura_maxima,precipitacao_(mm),final_de_semana,consumo_de_cerveja_(litros)
0,2015-01-01,27.3,23.9,32.5,0.0,0.0,25.461

In [86]:
## usando datetime

import datetime

datetime.datetime.now()

datetime.datetime(2020, 1, 14, 14, 12, 8, 608359)

In [87]:
def to_date(value):
    return datetime.datetime.strptime(value,'%Y-%m-%d').date()

In [88]:
df['data'] = df.data.apply(to_date)

In [89]:
df['data'][364] - df['data'][0]

datetime.timedelta(days=364)

In [103]:
## usando map

def to_fh(value):
    return (value*9/5)+32

In [104]:
lista_maxima = list(df.temperatura_maxima)
fh_max = list(map(to_fh,lista_maxima))

In [18]:
## usando reduce

from functools import reduce

def soma(value1,value2):
    return value1+value2

In [93]:
reduce(soma,lista_maxima)/len(lista_maxima)

26.611506849315056

In [94]:
## usando filter

list(filter(lambda x: x> 33,lista_maxima))

[33.5,
 33.7,
 34.0,
 34.2,
 34.8,
 35.4,
 34.8,
 34.0,
 35.8,
 35.6,
 36.5,
 35.6,
 34.5,
 35.5,
 33.3,
 33.3,
 34.0,
 35.3,
 34.0,
 35.8,
 35.7,
 35.3,
 33.5]

In [115]:
## usando zip

lista_minima = list(df.temperatura_minima.head())

list(zip(lista_minima,lista_maxima))

[(23.9, 32.5), (24.5, 33.5), (22.4, 29.9), (21.5, 28.6), (21.0, 28.3)]

In [117]:
[x[1] - x[0] for x in zip(lista_minima,lista_maxima)]

[8.600000000000001, 9.0, 7.5, 7.100000000000001, 7.300000000000001]

In [124]:
[[x**2,y] for x,y in enumerate(lista_maxima)][:4]

[[0, 32.5], [1, 33.5], [4, 29.9], [9, 28.6]]

In [32]:
def square(value,value2):
    print(f'somando {value} a {value2}')
    return value+value2

In [28]:
ls = [1,2,3,4,5,6,7,8,9,10]

In [29]:
a = map(square,ls)

In [30]:
list(a)

TypeError: square() missing 1 required positional argument: 'value2'

In [33]:
reduce(square,ls)

somando 1 a 2
somando 3 a 3
somando 6 a 4
somando 10 a 5
somando 15 a 6
somando 21 a 7
somando 28 a 8
somando 36 a 9
somando 45 a 10

55